/* style.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration:none;
}

/* Corpo */
body {
    background-color: #121212;
    color: #FFFFFF;
    
}

/* Header */
header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

header h1 {
    font-size: 2em;
    color: #FFD700;
}

header input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

header button {
    padding: 10px 15px;
    border: none;
    background-color: #FFD700;
    color: #1e1e1e;
    border-radius: 5px;
    cursor: pointer;
    
}

header button:hover {
    background-color: #ffc107;
}

/* Main */
#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.movie {
    background-color: #1e1e1e;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.movie:hover {
    transform: scale(1.05);
}

.movie img {
    width: 100%;
    height: auto;
}

.movie h3 {
    padding: 15px;
    font-size: 1.2em;
    color: #FFD700;
}

/* Footer */
footer {
    background-color: #1e1e1e;
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
}

footer p {
    color: #bbb;
}

footer .social-media a {
    color: #FFD700;
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media a:hover {
    color: #ffc107;
}
